+++
title = "Pigsty"
linkTitle = "Pigsty"

+++

{{< blocks/cover title="Pigsty: 图形化PostgreSQL" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="http://pigsty.cc">
		公共示例 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="http://github.com/Vonng/pigsty">
		源码仓库 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">世界上最好的PostgreSQL监控系统</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Pigsty is a monitoring system that is specially designed for large scale PostgreSQL clusters. Along with a postgres cluster provisioning solution. It also shipped with a four-node VM sandbox environment based on vagrant for demonstration purpose.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Battery Included" %}}
Pigsty contains monitoring system and HA database provision solution for free!


{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Open Source" url="https://github.com/Vonng/pigsty" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Our Customers" url="http://pigsty.cc/" %}}
It has been used and deployed everywhere ~

{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Try it for free</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Visit **Public Demo**" %}}
Get first impression with one click
<p>(May takes 20+ seconds for first-time visitor)</p>

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/Vonng/pigsty" %}}
We do a [Pull Request](https://github.com/Vonng/pigsty/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Github!" url="https://github.com/Vonng" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
