+++
title = "Pigsty"
linkTitle = "Pigsty"

+++

{{< blocks/cover title="Pigsty: Postgres in Graphic STYle" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="http://demo.pigsty.cc/d/pg-overview">
		Public Demo <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="http://github.com/Vonng/pigsty">
		Github Repo <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Best PostgreSQL monitoring system ever !</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
<p>Pigsty is a monitoring system that is specially designed for large scale PostgreSQL clusters.</p>
<p>Along with a production-grade HA PostgreSQL cluster provisioning solution.</p>

{{% /blocks/lead %}}







{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-desktop" title="Monitoring System" %}}
Pigsty delivers the best PostgreSQL monitoring system!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-boxes" title="Provision Solution" %}}
Provision postgres clusters with one click!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-wrench" title="HA Deployment" %}}
High available, self-healing with patroni and haproxy!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-search" title="Service Discovery" %}}
Minimal human intervene required!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-truck-moving" title="Offline Installation" %}}
Fast and secure installation without internet access required.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-file-code" title="Infrastructure As Code" %}}
Everything is configurable and customizable!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-truck-moving" title="Latest Features" %}}
Start with PostgreSQL 13 and Patroni 2. Enjoying latest feature without burden
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Open Source" url="https://github.com/Vonng/pigsty" %}}
Free and open source. New users and contributors are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-money-bill-alt" title="Business Support" url="https://github.com/Vonng/pigsty" %}}
Advanced business support available !
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{< blocks/section color="cyan" >}}
<div class="col">
<h1 class="text-center">What's Next</h1>
</div>

{{< /blocks/section >}}

{{< blocks/section >}}

{{% blocks/feature icon="fa-apple-alt" title="Explore Public **Demo**" url="http://demo.pigsty.cc" %}}
<p>Get first impression with one click</p>
(take 20+ seconds for first-time visitor)
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-boxes" title="Try Local Sandbox!" url="https://github.com/Vonng/pigsty" %}}
<p>Have pigsty running on your laptop!</p>
<p>(based on vagrant and virtualbox)</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Follow us on Github!" url="https://github.com/Vonng" %}}
<p>For announcement of latest features</p>
<p>Or check pigsty documentation</p>
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Business Support</h1>
</div>


{{< /blocks/section >}}


{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-solar-panel" title="Extra Dashboards" %}}
Unlock enterprise version of pigsty with additional 20+ dashboards
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-shield-alt" title="Security Enhancement" %}}
CA, SSL, ACL, SE Linux, Fine-grained access control, keep your data safe
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-database" title="Backup & Recovery" %}}
Time travel with PITR, Hot/Warm/Cold backups, delayed replica.
{{% /blocks/feature %}}

{{% blocks/feature icon="fad fa-star" title="Additional Features" %}}
Meta database, data dictionary, catalog explorer, log summary, etc...
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-clipboard-check" title="Issue & Ticket" %}}
We'll handle all your problems. Not 7x24, but at least within 24 hours
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-user-tie" title="Be Spoke" %}}
Integration with existing system? Special requirement? Be spoke!
{{% /blocks/feature %}}




{{< /blocks/section >}}