+++
title = "Pigsty"
linkTitle = "Pigsty"

+++

{{< blocks/cover title="Pigsty: Postgres in Graphic STYle" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="http://demo.pigsty.cc">
		Public Demo <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="http://github.com/Vonng/pigsty">
		Github Repo <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Best PostgreSQL monitoring system ever !</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Pigsty is a monitoring system that is specially designed for large scale PostgreSQL clusters. Along with a postgres cluster provisioning solution. It also shipped with a four-node VM sandbox environment based on vagrant for demonstration purpose.

{{% /blocks/lead %}}







{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-desktop" title="Monitoring System" %}}
Pigsty is shipped with the BEST PostgreSQL monitoring system ever, battery included!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-boxes" title="Provision Solution" %}}
Pull up entire environment with in a simple and declarative way, just like kubernetes
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-wrench" title="HA Deployment" %}}
High available, self-healing clusters with patroni
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-search" title="Service Discovery" %}}
Minimal intervene required
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-truck-moving" title="Offline Installation" %}}
Install without internet access. Fast and Secure
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-file-code" title="Infrastructure As Code" %}}
Everything is configurable and customizable
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-truck-moving" title="Latest Compatibility" %}}
Start with PostgreSQL 13 and Patroni 2. Have a fresh start and enjoying latest features
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Open Source" url="https://github.com/Vonng/pigsty" %}}
It is free and open source. New users and contributors are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-money-bill-alt" title="Business Support" url="https://github.com/Vonng/pigsty" %}}
Unlock full version of Pigsty and business support with enterprise subscrition!
{{% /blocks/feature %}}



{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Free and Open Source</h1>
</div>

{{< /blocks/section >}}










{{< blocks/section >}}

{{% blocks/feature icon="fa-apple-alt" title="Visit Public **Demo**" url="http://demo.pigsty.cc" %}}
Get first impression with one click
(May takes 20+ seconds for first-time visitor)
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-boxes" title="Try Local Sandbox!" url="https://github.com/Vonng/pigsty" %}}
Pigsty is shipped with a four-node VM sandbox environment based on vagrant for demonstration purpose.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Follow us on Github!" url="https://github.com/Vonng" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">Contact for Business Support</h1>
</div>

{{< /blocks/section >}}
